.header  {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}

.nav-items > ul {
   list-style-type: none;
    font-size: 20px;
   display: flex;
}

.nav-items > ul > li {
    padding: 10px;
   margin: 0 20px;
}


.logo {
   width: 200px;
  
}

.nav-items {
    display: flex;

}
.search {
    padding: 5px;
}

.res-card {
   width: 200px;
   margin: 20px;
   padding: 10px;
   background-color: antiquewhite;
 
}

.res-card:hover  {
      box-shadow: 2px 2px 5px grey;
}

.res-logo {
   width: 100%;
   align-self: center;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card h3, .res-card h4 {
    word-break: break-word;
}

.res-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}